.Heading-SearchBar{
  text-align: center;
  width: 500px;
  position: relative;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading a {
  text-decoration-line: none;
}
.heading  h1{
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
  letter-spacing: 0.5rem;
  
}